* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #bfc932;
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

a.button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

section {
  padding: 2rem 0;
}

h2 {
  font-size: 2rem;
}

span {
  color: white;
}

p {
  color: #4a4a4a;
}

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.rounded {
  border-radius: 8px;
}

.custom-icon-color i {
  color: #000000;
}

/* Estilos específicos para Pintura y Arte */

/* Card styles */
.card {
  margin-bottom: 2rem;
}

.card-title {
  font-size: 1.25rem;
  color: #333;
}

.card-text {
  color: #555;
}

.card-img-top {
  border-bottom: 1px solid #ddd;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}
