* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header bg {
  text-align: center;
  color: white;
  background-size: cover;
  padding: 5rem 0;
}

section {
  padding: 2rem 0;
}

h2 {
  font-size: 2rem;
}

span {
  color: white;
}

p {
  color: #4a4a4a;
}

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.rounded {
  border-radius: 8px;
}

.custom-icon-color i {
  color: #000000;
}
